extends ../base
include ../mixins/message

block content
	form(method="post")
		input(placeholder="기존 비밀번호" type="password" name="oldPassword")
		input(placeholder="새 비밀번호" type="password" name="newPassword")
		input(placeholder="새 비밀번호 확인" type="password" name="newPasswordConfirmation")
		div
			span
			input(value="변경" type="submit")